
<div class="container" >
  <div class="col-3" id="enter">
    <form class="form-signin" role="form">
      <h2 class="form-signin-heading">תתחבר בבקשה!</h2>
      <div class="col-auto" style="margin-bottom: 10px;">
        <input type="name" [formControl]="name" class="form-control" id="inputPassword2" placeholder="שם">
      </div>
      <div class="col-auto">
        <button (click)="login()" class="btn btn-lg btn-primary btn-block col-12">להתחברות</button>
      </div>
    </form>
  </div>
</div>