#submit{
    background-color: rgb(236, 233, 233);
    margin: 20px;
    position: relative;
    left: 40%;
    text-align: left;
    padding: 20px;
    border-radius: 10%;
}
#p{
    text-align: left;
}
#alert{
    background-color: rgb(236, 233, 233);
    margin: 20px;
    position: relative;
    left: 40%;
    text-align: left;
    padding: 20px;
    color: green
}