<ul class="container col-4 list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let d of donators">

        <div>
            <h3 (click)="editFlag=true;name=d.name">{{d.name}}</h3>
        </div>
        <div>
            <button *ngIf="csrv.ifManager==true" class="btn btn-outline-dark" (click)="delete(d)">✖</button>
        </div>

    </li>
</ul>

<div id="form" class="form-inline col-2" *ngIf="csrv.ifManager==true">
    <input type="text" [formControl]="donatorName" class="form-control mb-2 mr-sm-2"/>
    <button (click)="add()" class="btn btn-outline-dark col-12">➕</button>
</div>
<div *ngIf="editFlag==true" id="form" class="form-inline col-2">
    <input type="text" [formControl]="donatorName" value="שם" class="form-control mb-2 mr-sm-2"/>
    <button (click)="edit()" class="btn btn-outline-dark col-12">✔</button>
</div>